.form__button--submit, .hero__button {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
}

body {
  background-color: #ffffff;
  color: #757575;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.link {
  text-decoration: none;
}

.link:hover, .link:focus {
  color: #2196f3;
}

.container-centered {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

@media screen and (max-width: 320px) {
  .container-centered {
    width: 320px;
  }
}

@media screen and (min-width: 1200px) {
  .container-centered {
    width: 1200px;
  }
}

.section {
  margin-bottom: 60px;
}

.heading {
  color: #212121;
}

.image {
  display: block;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo:hover .logo--black,
.logo:focus .logo--black {
  color: #2196f3;
}

.logo:hover .logo--white {
  color: #2196f3;
}

.logo--up-left {
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo--down-left {
  margin-bottom: 20px;
}

.logo--black {
  color: #000000;
}

.logo--white {
  color: #ffffff;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  transform: translatex(100%);
  padding: 48px 40px;
}

.is-open {
  transform: translatex(0);
}

.js-open-menu {
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
}

.js-open-menu:hover, .js-open-menu:focus {
  fill: #2196f3;
}

.js-close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
}

.js-close-menu:hover, .js-close-menu:focus {
  fill: #2196f3;
}

.nav__list a {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.about {
  padding-top: 0;
}

@media screen and (max-width: 768px) {
  .about {
    display: none;
  }
}

.about__heading {
  margin-bottom: 50px;
}

.about__list {
  display: flex;
}

.about__item {
  position: relative;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__text-container {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.form {
  display: flex;
  flex-direction: column;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__input {
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus, .form__input:active {
  border-color: #2196f3;
}

.form__input:focus + .form__icon,
.form__input:active + .form__icon {
  fill: #2196f3;
}

.form__icon {
  position: absolute;
  top: 40%;
  left: 15px;
  transform: translateY(50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea {
  resize: none;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea:active {
  color: #2196f3;
}

.checkbox {
  position: relative;
  margin-bottom: 30px;
  padding-left: 23px;
  margin-left: auto;
  margin-right: auto;
}

.checkbox__link {
  color: #2196f3;
}

.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox__input:checked + .checkbox__label::after {
  background-image: url(../images/iconCheck.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  border: transparent;
}

.checkbox__label {
  display: inline-block;
}

.checkbox__label::after {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  content: " ";
  height: 15px;
  width: 16px;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
}

.form__button--submit {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.hero {
  padding-top: 109px;
  padding-bottom: 118px;
  background-color: #212121;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/herobanner-mobile.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 480px) {
  .hero {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/herobanner-tablet.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 480px) {
  .hero {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/herobanner.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.hero__heading {
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}

.hero__button {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.advantages__heading {
  text-align: center;
}

.advantages__item {
  margin-bottom: 30px;
}

.advantages__item::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__item:nth-child(1)::before {
  background-image: url(../images/iconAntenna.svg);
}

.advantages__item:nth-child(2)::before {
  background-image: url(../images/iconClock.svg);
}

.advantages__item:nth-child(3)::before {
  background-image: url(../images/iconDiagram.svg);
}

.advantages__item:nth-child(4)::before {
  background-image: url(../images/iconAstronaut.svg);
}

.team__heading {
  text-align: center;
  margin-bottom: 30px;
}

.team__card {
  width: 100%;
  margin-bottom: 30px;
  outline: 1px solid teal;
}

.card__image {
  width: 100%;
}

.card__thumb-image {
  margin-bottom: 30px;
}

.card__content {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */