.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.link {
  &:hover,
  &:focus {
    color: $text-color-accent;
  }

  text-decoration: none;
}

.container-centered {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;

  @media screen and (max-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
}

.heading {
  color: $text-color-second;
}

.image {
  display: block;
}
