.footer {
  background-color: $bg-color-footer;
  padding-top: 60px;
  padding-bottom: 60px;
}

.tablet-container {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.footer__container {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.footer__contacts {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.footer__address {
  color: #ffffff;
  font-style: normal;
}

.footer__item a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-links__list {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.footer__heading {
  color: #ffffff;
  text-align: center;

  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1, 33;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer-links__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-links__link {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 12px;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;

  @include transition(background-color);

  &:hover,
  &:active {
    background-color: $icon-accent;
  }
}
