.form-subs {
  @media screen and (min-width: 1200px) {
    margin-left: auto;
    width: 570px;
  }
}

.form-subs__input {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
  }
}

.form-subs__field {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  padding: 15px;
  background-color: #2f303a;
  color: #ffffff;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.form-subs__btn {
  @extend %button;
  display: flex;
  align-items: center;

  &::after {
    content: "";
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-left: 5px;
    background: url(../images/icon-send.svg);
  }
}
