.header {
  border-bottom: 1px solid $header-line-color;
}

.mobile-menu__container {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.nav-menu__container {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (max-width: 1199px) {
    justify-content: space-between;
  }

  display: flex;
  align-items: center;
}

.logo--up-left {
  margin-right: 93px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__item a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: $text-color-second;
}

.nav__item .nav__link--currentpage {
  color: $text-color-accent;
}

.nav__link {
  padding: 25px 0;
}

.nav__link--currentpage {
  display: block;

  &:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #2196f3;
    border-radius: 4px;
  }
}

.nav__contacts {
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.contacts__list {
  display: flex;

  @media screen and (max-width: 1199px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.contacts__item {
  &:not(:last-child) {
    @media screen and (max-width: 1199px) {
      margin-bottom: 10px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }
}

.contacts__item .contacts__link {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: $text-color-main;

  @include transition(color);

  &:hover,
  &:focus {
    color: $text-color-accent;
  }
}

.contacts__icons {
  margin-right: 10px;
  fill: currentColor;
}

.nav__item {
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: $text-color-second;
  }
}
