.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $bg-color-main;

  box-sizing: border-box;

  padding: 48px 40px;

  transform: translatex(100%);

  @include transition(transform);
}

.is-open {
  transform: translatex(0);
}

.js-open-menu {
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;

  @include transition(fill);

  &:hover,
  &:focus {
    fill: $icon-accent;
  }
}
.js-close-menu {
  position: absolute;
  top: 10px;
  right: 15px;

  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;

  @include transition(fill);

  &:hover,
  &:focus {
    fill: $icon-accent;
  }
}

// Не могу победить специфичность, присутсвует text-decoration
.nav__list {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: $text-color-second;
}

.nav__item {
  margin-bottom: 32px;
}

.nav__contacts {
  margin-top: auto;
}

// чтобы победить специфичность
.contacts__link--accent {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: $text-color-accent;

  fill: $text-color-accent;
}
