.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $bg-color-main;
  z-index: 3;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  padding: 48px 40px;

  transform: translatex(120%);

  @include transition(transform);
}

.is-open {
  transform: translatex(0);
}

.js-open-menu {
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;

  @include transition(fill);

  &:hover,
  &:focus {
    fill: $icon-accent;
  }
}
.js-close-menu {
  position: absolute;
  top: 10px;
  right: 15px;

  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;

  @include transition(fill);

  &:hover,
  &:focus {
    fill: $icon-accent;
  }
}

// Не могу победить специфичность, присутсвует text-decoration
.nav__list a {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: $text-color-second;
}

.nav__item {
  margin-bottom: 32px;
}

.nav__contacts {
  margin-top: auto;
  margin-bottom: 64px;
}

.mobile-menu__social-list {
  display: flex;
  align-items: center;
}

.mobile-menu__social-item {
  padding: 0 10px;

  &:first-child {
    padding-left: 0;
  }

  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.mobile-menu__social-link {
  @include transition(color);
  color: $text-color-main;

  &:hover,
  &:focus {
    color: $text-color-accent;
  }
}

// чтобы победить специфичность
.contacts__item .contacts__link--accent {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: $text-color-accent;

  fill: $text-color-accent;
}

.contacts__item .contacts__link--small {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: $text-color-main;

  &:hover,
  &:focus {
    color: $text-color-accent;
  }
}

.contacts__icons {
  display: none;
}
