.team__heading {
  text-align: center;
  margin-bottom: 30px;
}

.team__card {
  width: 100%;
  margin-bottom: 30px;

  outline: 1px solid teal;
}

.card__image {
  width: 100%;
}

.card__thumb-image {
  margin-bottom: 30px;
}

.card__content {
  text-align: center;
}
