.hero {
  padding-top: 109px;
  padding-bottom: 118px;

  margin-right: auto;
  margin-left: auto;

  background-color: #212121;

  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/herobanner-mobile-min.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ),
      url(../images/herobanner-moblie-x2-min.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  // @media screen and (min-width: 480px) {
  //   background: linear-gradient(
  //       to right,
  //       rgba(0, 0, 0, 0.3),
  //       rgba(0, 0, 0, 0.3)
  //     ),
  //     url(../images/herobanner-mobile-min.jpeg);
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  // }

  @media screen and (min-width: 768px) {
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ),
      url(../images/herobanner-tablet-min.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.3)
        ),
        url(../images/herobanner-tablet-x2-min.jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  @media screen and (min-width: 1200px) {
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ),
      url(../images/herobanner-min.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.3)
        ),
        url(../images/herobanner-x2-min.jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.hero__container {
  @media screen and (min-width: 768px) {
    width: 360px;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    width: 696px;
    margin-right: auto;
    margin-left: auto;
  }
}

.hero__heading {
  text-align: center;
  color: $text-color-herohead;

  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-weight: 900;
    font-size: 44px;
    line-height: 1, 36;
    letter-spacing: 0.06em;
  }
}

.hero__button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  @extend %button;
}
