.clients__heading {
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
}

.clients__item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__button {
  margin: 0;
  padding: 0;
  border: 1px solid #afb1b8;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;

  width: 170px;
  height: 92px;

  fill: $icon-color;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $icon-accent;
    border-color: $icon-accent;
  }
}
