.team {
  background-color: $bg-color-team-sec;
}

.team__heading {
  text-align: center;
  margin-bottom: 30px;
}

.team__card {
  width: 100%;
  margin-bottom: 30px;

  padding-bottom: 24px;

  background-color: $bg-color-main;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card__image {
  width: 100%;
}

.card__thumb-image {
  margin-bottom: 30px;
}

.card__content {
  text-align: center;

  margin-bottom: 16px;
}
